.container {
    margin: auto;
    height: 100px;
    display: table;
    width: 50%;
    padding-bottom: 7vh;
    padding-top: 1vh;
}

.commandList {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.modeList {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
